<!doctype html>
<html lang="pt-br" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastro Empresa</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/estilo.css">
</head>
<body>

<section layout:fragment="conteudo">
    <div class="container" id="container">
        <div class="row justify-content-center">
            <div class="col-md-6 border rounded my-5" id="container-center">
                <div class="text-center py-2">
                    <h3>Editar empresa</h3>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <form method="POST" class="form-group" th:action="@{/empresa/salvar}" th:object="${empresa}">
                        	<div class="row">
                        		<label class="px-2">Insira uma foto de perfil</label>
                        		<div class="border">
                    				<input type="file" name="image" id="image">
                        		</div>
                        	</div>
                            <label for="nome" class="px-2">Nome da empresa:</label>
                            <input type="text" id="nome" class="form-control" placeholder="Nome" th:field="*{nome}">
                            <label for="nome" class="px-2">Descrição da empresa:</label>
                            <textarea class="form-control" id="descricao" th:field="*{descricao}"></textarea>
                            <div class="row">
                                <div class="col-6">
                                    <label for="hrAbertura" class="px-2 mt-3">Horario de abertura:</label>
                                    <input type="text" id="hrAbertura" class="form-control" placeholder="09:00">
                                </div>
                                <div class="col-6">
                                    <label for="hrFechamento" class="px-2 mt-3">Horario de fechamento:</label>
                                    <input type="text" id="hrFechamento" class="form-control" placeholder="18:00">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label for="telefone" class="px-2 mt-3">Telefone:</label>
                                    <input type="text" id="telefone" class="form-control" placeholder="(00) 0000-0000" th:field="*{contato}">
                                </div>
                                <div class="col-6">
                                    <label for="whatsapp" class="px-2 mt-3">Whatsapp:</label>
                                    <input type="text" id="whatsapp" class="form-control" placeholder="(00) 00000-0000" th:field="*{whatsapp}">
                                </div>
                            </div>                            
                           	<label for="email" class="px-2 mt-3">Email:</label>
                            <input type="text" id="email" class="form-control" placeholder="Email@empresa.com.br" th:field="*{email}">
                            <label for="facebook" class="px-2 mt-3">Facebook:</label>
                            <input type="text" id="facebook" class="form-control" placeholder="Facebook.com/Empresa" th:text="${empresa.facebook}>
                            <label for="instagram" class="px-2 mt-3">Instagram:</label>
                            <input type="text" id="instagram" class="form-control" placeholder="@Empresa" th:field="*{instagram}">
                            <div class="text-center bg-light d-none mt-3" id="message-error">
                                <span class="text-danger ">Senhas diferentes!</span>
                            </div>
                            <div class="row justify-content-center">
                            	<button type="submit" class="form-control btn btn-secondary mt-4 col-6">Registrar empresa</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>
